<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <context:component-scan base-package="mvc.controller"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:resources location="/WEB-INF/script/" mapping="/script/**"/>

    <bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="mvc.convert.DateConverter"/>
            </set>
        </property>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService"/>

    <mvc:interceptors>
        <!--拦截所有handler-->

<!--        <mvc:interceptor>-->
<!--            &lt;!&ndash;配置当前拦截器的url拦截规则，**代表当前目录下及其子目录下的所有url&ndash;&gt;-->
<!--            <mvc:mapping path="/**"/>-->
<!--            &lt;!&ndash;exclude-mapping可以在mapping的基础上排除一些url拦截&ndash;&gt;-->
<!--            &lt;!&ndash;<mvc:exclude-mapping path="/demo/**"/>&ndash;&gt;-->
<!--            <bean class="mvc.interceptor.MyIntercepter01"/>-->
<!--        </mvc:interceptor>-->


<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/**"/>-->
<!--            <bean class="mvc.interceptor.MyIntercepter02"/>-->
<!--        </mvc:interceptor>-->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/account/login"/>
            <bean class="mvc.interceptor.LoginIauthIntercepter"/>
        </mvc:interceptor>

    </mvc:interceptors>
    <mvc:default-servlet-handler/>

    <!--多元素解析器id固定为multipartResolver-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--设置上传文件大小上限，单位是字节，-1代表没有限制也是默认的-->
        <property name="maxUploadSize" value="-1"/>
    </bean>
</beans>
