<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="false" xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx">
    <!--开启注解扫描，base-package指定扫描的包路径-->
    <context:component-scan base-package="ioc,tx.spring"/>

    <!--开启自定义属性导入-->
    <context:property-placeholder location="classpath:jdbc.properties"/>


    <!--默认情况下，它会通过反射调用无参构造函数来创建对象。如果类中没有无参构造函数，将创建失败-->
    <bean id="connectionUtils" class="demo.spring.utils.ConnectionUtils" scope="prototype" lazy-init="false"/>
    <bean id="transactionManager" class="demo.spring.utils.TransactionManager" scope="singleton">
        <property name="ConnectionUtils" ref="connectionUtils"/>
    </bean>

    <!--使用静态方法创建对象的配置方式-->
    <bean id="userService" class="demo.spring.factory.BeanFactory" factory-method="createTransferService$static"/>


    <!--使用实例方法创建对象的配置方式-->
    <bean id="beanFactory" class="demo.spring.factory.BeanFactory"/>
    <bean id="transferService" factory-bean="beanFactory" factory-method="createTransferService$1"/>

    <!--使用构造函数注入-->
    <bean id="accountDao" class="demo.spring.dao.impl.JdbcAccountDaoImpl" init-method="init" destroy-method="destory">
        <constructor-arg name="connectionUtils" ref="connectionUtils"/>
    </bean>

    <!--使用set函数注入-->
    <bean id="accountDao$set" class="demo.spring.dao.impl.JdbcAccountDaoImpl" init-method="init"
          destroy-method="destory">
        <!--        <property name="connectionUtils" ref="connectionUtils"/>-->
        <property name="list">
            <array>
                <value>1</value>
                <value>2</value>
                <value>3</value>
            </array>
        </property>
    </bean>


    <!--外部配置bean使用xml方式-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="transferServiceImpl" class="demo.spring.service.impl.TransferServiceImpl"/>




    <bean id="companyBean" class="ioc.factorybean.CompanyFactoryBean">
        <property name="companyInfo" value="克里斯,多态,100"/>
    </bean>

    <!-- aop xml方式-->
    <bean id="advice" class="aop.XmlAdvice"/>
    <bean id="target" class="aop.Target"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <aop:config proxy-target-class="true">
        <aop:aspect id="aspect" ref="advice">
            <aop:pointcut id="pointcut" expression="execution(* aop.Target.transfer(..))"/>
            <aop:before method="before" pointcut-ref="pointcut"/>
            <aop:after-returning method="afterReturn" pointcut-ref="pointcut"/>
            <aop:after-throwing method="afterThrowing" pointcut-ref="pointcut" throwing="ex"/>
            <aop:after method="after" pointcut-ref="pointcut"/>
            <aop:around method="round" pointcut-ref="pointcut"/>
        </aop:aspect>
    </aop:config>

    <!--aop 注解开关-->
    <aop:aspectj-autoproxy/>

    <!--事务配置 xml方式-->
    <bean id="transactionManager1" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>


    <!--定制事务细节，传播行为、隔离级别等-->
    <tx:advice id="txAdvice" transaction-manager="transactionManager1">
        <tx:attributes>
            <!--一般性配置-->
            <tx:method name="*" read-only="false"
                       propagation="REQUIRED" isolation="DEFAULT" timeout="-1"/>
            <!--针对查询的覆盖性配置-->
            <tx:method name="query*" read-only="true"
                       propagation="SUPPORTS"/>
        </tx:attributes>
    </tx:advice>

    <aop:config>
        <!--advice-ref指向增强=横切逻辑+方位-->
        <aop:advisor advice-ref="txAdvice" pointcut="execution(* tx.spring.XmlService.*(..))"/>
    </aop:config>

    <tx:annotation-driven transaction-manager="transactionManager1"/>

    <!--parent child bean definition-->
    <bean id="parent" class="ioc.parent.Parent"/>
    <bean id="child" class="ioc.parent.Child" parent="parent"/>

</beans>
