<mapper namespace="demo.dao.IUserDao">

    <!--sql的唯一标识：namespace.id来组成 ： statementId-->
    <select id="findAll" resultType="demo.pojo.User" >
        select * from user
    </select>


    <!--
        User user = new User()
        user.setId(1);
        user.setUsername("zhangsan")
    -->
    <select id="findByCondition" resultType="demo.pojo.User" paramterType="demo.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>


</mapper>
