<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<!-- web context, 或自定义context-->
<web-app>
    <display-name>Archetype Created Web Application</display-name>
<!--        <context-param>-->
<!--            <param-name>contextConfigLocation</param-name>-->
<!--            <param-value>classpath:applicationContext.xml</param-value>-->
<!--        </context-param>-->


<!--    <context-param>-->
<!--        <param-name>contextConfigLocation</param-name>-->
<!--        <param-value>ioc.AppConfig</param-value>-->
<!--    </context-param>-->

    <!--
    Config param for the root WebApplicationContext implementation class to use: {@value}.
    @see #determineContextClass(ServletContext)-->
<!--    <context-param>-->
<!--        <param-name>contextClass</param-name>-->
<!--        <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>-->
<!--    </context-param>-->




    <!--Bootstrap listener to start up and shut down Spring's root {@link WebApplicationContext}.
        Simply delegates to {@link ContextLoader} as well as to {@link ContextCleanupListener}.-->
<!--    <listener>-->
<!--        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>-->
<!--    </listener>-->



    <!-- mvc -->
    <servlet>
        <servlet-name>springMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:springmvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springMVC</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>hiddenHttpMethodFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
